<template>
	<center class="my-4">
		<img class="mb-4" src="~Main/img/icon.svg" style="width:12rem">
		<h1 class="h4 mb-3 font-weight-normal">{{$t('please-login')}}</h1>
		<form class="form-signin" @submit.prevent="login()">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<wait-icon v-if="wait"/>
			<label class="sr-only" for="login">{{$t('username')}}</label>
			<input class="login form-control" type='text' :placeholder="$t('username')" name='login' v-model="username" required autofocus>
			<label class="sr-only" for="password">{{$t('password')}}</label>
			<input class="password form-control" type='password' :placeholder="$t('password')" name='password' v-model="password" required>
			<br>
			<button type="submit" class="btn btn-lg btn-primary btn-block">{{$t('login')}}</button>
		</form>
		<router-link class="d-block" :to="{ name: 'main-reset-request'}">» {{$t('forgot-password')}}</router-link>
		<router-link v-if="registration" class="d-block" :to="{ name: 'main-register-request'}">» {{$t('register-account')}}</router-link>
	</center>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import WaitIcon from 'Main/components/WaitIcon.vue';
	import store from 'Main/js/store.js';
	import UserSettings from '../js/user-settings.js';

	export default {
		name:"login",
		components: {WarningList,WaitIcon},
		data: function() {
			return {
				username:'',
				password:'',
				warnings:[],
				registration:false,
				wait:false
			}
		},
		mounted: function() {
			this.$axios.get('main/registration-state').then(response=> {
				this.registration=response.data.allowed;
			})
		},
		methods: {
			login: function() {
				this.warnings=[];
				this.wait=true;
				this.$axios.post('main/login', {login:this.username, password:this.password}).then(response=> {
					this.wait=false;
					//failed
					if (response.data[0]) {
						this.warnings=response.data;
						store.user.clear();
					}
					//success
					else {
						UserSettings.updateUserProfile(this, response.data);
						// Additional data login related.
						store.user.roles=response.data.roles;
						store.user.accessToken=response.data.token.access_token;
						store.user.refreshToken=response.data.token.refresh_token;
						var redirectRoute = this.$route.query.redirect || 'main-index';
						// Ensure, that applications router knows this url.
						if (this.$router.resolve(redirectRoute).route.matched.length <= 0) {
							redirectRoute = 'main-index';
						}
						this.$router.push(redirectRoute);
					}
				});
			}
		}
	}
</script>

<style src="Main/css/signin.css"/>

<i18n src="../locales/Login.json"/>
