<template>
	<section>
		<PageTitle :title="$t('title')" :subtitle="$t('subtitle')"/>
		<center>
			<p style="font-size:48pt;margin:1em 0em;padding:12pt;text-align:center">¯\_(ツ)_/¯</p>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</center>
	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
	}
</script>


<i18n src="../locales/Notfound.json"/>
