<template>
	<div>
		<page-title :title="$t('profile-title')"/>
		<div class="container mt-2">
			<h2>{{$t('user-data')}}</h2>
			<warning-list :warnings="updateUserErrors"/>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for='login'>{{$t('username')}}</label>
				<input class="form-control col-md-9" disabled='true' type='text' v-model="login">
				<label class="col-md-3 col-form-label" for='name'>{{$t('personal-name')}}</label>
				<input class="form-control col-md-9" type='text' v-model="name" :class="{'is-invalid':!$v(name,true,$consts.REGEX_USERNAME)}">
				<label class="col-md-3 col-form-label" for='email'>{{$t('email-address')}}</label>
				<input class="form-control col-md-9" type='text' v-model="email" :class="{'is-invalid':!$v(email,true,$consts.REGEX_EMAIL)}">
				<label class="col-md-3" for='lang'>{{$t('preferred-language')}}</label>
				<select class="form-control.col-md-9" v-model="lang"
					:class="{'is-invalid':!$v(lang,true,$consts.REGEX_LANGUAGE)}">
					<option v-for="lng in $consts.SUPPORTED_LANGUAGES" :value="lng">{{lng}}</option>
				</select>
			</div>
			<button class="btn btn-primary" v-on:click="confirmUpdateUser=true;">{{$t('update')}}</button>


			<hr class="mt-5">
			<h2>{{$t('change-password')}}</h2>
			<warning-list :warnings="updatePasswordErrors"/>
			<div class="form-group row">
				<div class="col-md-3"/>
				<label class="col-md-9">{{$t('password-strength')}}</label>
				<label class="col-md-3 col-form-label" for='password'>{{$t('password')}}</label>
				<input class="form-control col-md-9" type='password' v-model='password' :class="{'is-invalid':password.length<1}">
				<label class="col-md-3 col-form-label" for='passwordNew'>{{$t('new-password')}}</label>
				<input class="form-control col-md-9" type='password' v-model='passwordNew' :class="{'is-invalid':!$v(passwordNew,true,$consts.REGEX_PASSWORD)}">
				<label class="col-md-3 col-form-label" for='passwordConfirm'>{{$t('confirm-password')}}</label>
				<input class="form-control col-md-9" type='password' v-model='passwordConfirm' :class="{'is-invalid':!$v(passwordConfirm,true,$consts.REGEX_PASSWORD) || passwordNew!=passwordConfirm}"/>
			</div>
			<button class="btn btn-primary" v-on:click="updatePassword()">{{$t('change')}}</button>

			<hr class="mt-5">
			<h3>{{$t('delete-account')}}</h3>
			<warning-list :warnings="deleteUserErrors"/>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for='passwordDelete'>{{$t('password')}}</label>
				<input class="form-control col-md-9" type='password' v-model='passwordDelete' :class="{'is-invalid':passwordDelete.length<1}">
			</div>
			<button class="btn btn-primary" v-on:click="confirmDeleteAccount=true">{{$t('delete')}}</button>
		</div>

		<modal-confirm v-if="confirmDeleteAccount" v-on:close="confirmDeleteAccount=false" v-on:accept="deleteUser()">
			<div class="alert alert-danger">{{$t('delete-info')}}</div>
		</modal-confirm>

		<modal-input-tan v-if="confirmUpdateUser" v-on:close="confirmUpdateUser=false" v-on:accept="updateUser"/>

		<modal-info v-if="info" v-on:close="info=''">
			<p>{{$t(info)}}</p>
		</modal-info>
	</div>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import ModalConfirm from 'Main/components/ModalConfirm.vue';
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import ModalInputTan from 'Main/components/ModalInputTan.vue';
	import PageTitle from 'Main/components/PageTitle.vue';
	import store from 'Main/js/store.js';
	import UserSettings from '../js/user-settings.js';

	export default {
		name:"profile",
		components: {WarningList, PageTitle,ModalConfirm,ModalInfo,ModalInputTan},
		data: function() {
			return {
				updateUserErrors:[],
				updatePasswordErrors:[],
				deleteUserErrors:[],
				name:'',
				email:'',
				lang:'',
				login:'',
				password:'',
				passwordNew:'',
				passwordConfirm:'',
				passwordDelete:'',
				confirmDeleteAccount:false,
				confirmUpdateUser:false,
				store:store,
				info:''
			}
		},
		methods: {
			updatePassword: function() {
				this.updatePasswordErrors=[];
				this.$axios.put('main/password', {password:this.password,passwordNew:this.passwordNew,passwordConfirm:this.passwordConfirm}).then(response=> {
					if (response.data[0]) {
						this.updatePasswordErrors=response.data;
					}
					else {
						this.password='';
						this.passwordNew='';
						this.passwordConfirm='';
						this.info='info-password-changed'
					}
				});
			},
			updateUser: function(tan) {
				this.updateUserErrors=[];
				this.confirmUpdateUser=false;
				this.$axios.put('main/user', {name:this.name,email:this.email,lang:this.lang,tan:tan}).then(response=> {
					if (response.data[0]) {
						this.updateUserErrors=response.data;
					}
					else {
						UserSettings.updateUserProfile(this, response.data);
					}
				});
			},
			deleteUser: function() {
				this.deleteUserErrors=[];
				this.confirmDeleteAccount=false;
				this.$axios.delete('main/user/', {data: {password:this.passwordDelete}}).then(response=> {
					if (response.data[0]) {
						this.deleteUserErrors=response.data;
					}
					else {
						store.user.clear();
						this.$router.push({name:'main-index'});
					}
				});
			}
		},
		mounted() {
			// A user profile can only be shown if the user is logged in.
			if (store.user.login.length <= 0) {
				this.$router.push({name: 'main-login', query: {redirect: this.$route.name}});
			} else {
				this.$axios.get('main/profile').then(response => {
					if (response.data) {
						this.name=response.data.name;
						this.email=response.data.email;
						this.lang=response.data.lang;
						this.login=response.data.login;
					}
				});
			}
		}
	}
</script>





<i18n src="../locales/Profile.json"/>
