<template>
	<div>
		<page-title :title="$t('register-account')" :subtitle="$t('register-account-info')"/>
		<div v-if="success" class="container">
			<div class="alert alert-info">{{$t('confirm-register-mail')}}</div>
		</div>
		<div class="container"v-if="!registration">
			<div class="alert alert-warning">{{$t('registration-forbidden')}}</div>
		</div>
		<div v-if="!success && registration" class="container mt-3">
			<warning-list v-if="warnings" v-on:close="warnings=''" :warnings="warnings"/>
			<div class="form-group row">
				<label class="col-md-4 col-form-label">{{$t('username')}}</label>
				<input class="col-md-8 form-control" v-model="login"
					:class="{'is-invalid':!$v(login,true,$consts.REGEX_LOGIN)}">
				<label class="col-md-4 col-form-label">{{$t('email-address')}}</label>
				<input class="col-md-8 form-control" v-model="email"
					:class="{'is-invalid':!$v(email,true,$consts.REGEX_EMAIL)}">
				<label class="col-md-4 col-form-label">{{$t('name')}}</label>
				<input class="col-md-8 form-control" v-model="name"
					:class="{'is-invalid':!$v(name,true,$consts.REGEX_TEXT_100)}"/>
				<label class="col-md-4 col-form-label" for='lang'>{{$t('preferred-language')}}</label>
				<select class="form-control col-md-8" v-model="lang"
					:class="{'is-invalid':!lang}">
					<option v-for="lng in $consts.SUPPORTED_LANGUAGES" :value="lng">{{lng}}</option>
				</select>
				<label class="col-md-4 col-form-label">{{$t('comment')}}</label>
				<textarea class="col-md-8" v-model="comment"
						:class="{'is-invalid':!$v(comment,true,$consts.REGEX_TEXT_AREA_300)}"/>
			</div>
			<hr>
			<div class="form-group row">
				<div class="col-md-4"/>
				<label class="col-md-8 col-form-label">{{$t('password-strength')}}</label>
				<label class="col-md-4 col-form-label">{{$t('password')}}</label>
				<input class="col-md-8 form-control required" type="password" v-model="password"
					:class="{'is-invalid':!$v(password,true,$consts.REGEX_PASSWORD)}"/>
				<label class="col-md-4 col-form-label">{{$t('confirm-password')}}</label>
				<input class="col-md-8 form-control required" type="password" v-model="passwordConfirm"
						:class="{'is-invalid':!$v(passwordConfirm,true,$consts.REGEX_PASSWORD) || password!=passwordConfirm}"/>
			</div>
			<hr>
			<div class="form-group row">

			<span v-if='msg["login"] == false' > {{$t('prohibited_chars')}}</span>
			<span v-if='msg["PWminLength"] == false' > {{$t('pwlength')}}</span>
			<span v-if='msg["PWhasLower"] == false' > {{$t('pwlower')}}</span>
			<span v-if='msg["PWhasUpper"] == false' > {{$t('pwupper')}}</span>
			<span v-if='msg["PWhasNumber"] == false' > {{$t('pwnumber')}}</span>

			</div>
			<div class="form-group row">

				<div class="col-md-4"><img :src="captchaImg"/></div>
				<label class="col-md-8">
					<span>{{$t('captcha-info')}}</span>
					<a target="_blank" :href="($config.urlImprint ? $config.urlImprint : '#/main-imprint')"> »&nbsp;{{$t('imprint')}}</a>
				</label>
				<label class="col-md-4 col-form-label">{{$t('captcha-text')}}</label>
				<input class="col-md-8 form-control required"  v-model="captchaText"
						:class="{'is-invalid':!$v(captchaText,true,$consts.REGEX_TEXT_100)}"/>
			</div>

			<hr>
			<div class="form-check"	>
				<input class="form-check-input" id="acceptTerms" type="checkbox" v-model="acceptTerms"
					:class="{'is-invalid':acceptTerms!=true}">
				<label class="form-check-label" for="acceptTerms">
					<span>{{$t('confirm-terms')}}</span>
					<a target="_blank" :href="($config.urlTerms ? $config.urlTerms : '#/main-terms')"> »&nbsp;{{$t('terms')}}</a>
				</label>
			</div>
			<div class="my-2 form-check">
				<input class="form-check-input" id="acceptPrivacy" type="checkbox" v-model="acceptPrivacy"
					:class="{'is-invalid':acceptPrivacy!=true}">
				<label class="form-check-label" for="acceptPrivacy">
					<span>{{$t('confirm-privacy')}}</span>
					<a target="_blank" :href="($config.urlPrivacy ? $config.urlPrivacy : '#/main-privacy')"> »&nbsp;{{$t('privacy')}}</a>
				</label>
			</div>
			<button class="btn my-3 btn-primary mr-1" v-on:click="startRegister()">{{$t('register')}}</button>
			<router-link class="btn my-3 btn-secondary" :to="{ name: 'main-login' }">{{$t('cancel')}}</router-link>
		</div>
	</div>
</template>
<script>

import PageTitle from "Main/components/PageTitle.vue";
import WarningList from "Main/components/WarningList.vue";

export default {
	components: {PageTitle, WarningList},
	data: function() {
		return {
			login:'',
			email:'',
			name:'',
			password:'',
			comment:'',
			lang:'',
			passwordConfirm:'',
			acceptTerms:'',
			acceptPrivacy:'',
			captchaImg:'',
			captchaTicket:'',
			captchaText:'',
			warnings:'',
			success:false,
			registration:false,
			msg:[],

		}
	},
	mounted: function() {
		this.$axios.get('main/registration-state').then(response=> {
			if (response.data.allowed) {
				this.newCaptcha();
				this.registration=true;
			}
		})
	},
	watch: {
		login(value) {
		if(/^[A-Za-z0-9]+$/.test(value))
		{
			this.msg["login"]= true;
		} else {
			this.msg["login"] = false;
		}
		},
    password(value) {
			this.msg["PWminLength"] = (this.password.length > 8);
			this.msg["PWhasNumber"] = /\d/.test(this.password);
			this.msg["PWhasUpper"] = /[A-Z]/.test(this.password);
			this.msg["PWhasLower"] = /[a-z]/.test(this.password);
		}
	},
	methods: {

	validateLogin(value) {
	if(/^[A-Z-z0-9]+$/.test(value))
	{
		this.msg['login']= false;
	} else {
		this.msg['login'] = true;
	}
	},
		newCaptcha:  function() {
			this.$axios.get('main/captcha').then(response=> {
				this.captchaTicket=response.data.ticket;
				this.captchaText='';
				var blob=new Blob([response.data.svg], {type: 'image/svg+xml'});
				var url=URL.createObjectURL(blob);
				this.captchaImg=url;
			})
		},
		startRegister: function() {
			var data={
				email:this.email,
				name:this.name,
				login:this.login,
				lang:this.lang,
				comment:this.comment,
				password:this.password,
				passwordConfirm:this.passwordConfirm,
				acceptTerms:this.acceptTerms,
				acceptPrivacy:this.acceptPrivacy,
				captchaText:this.captchaText,
				captchaTicket:this.captchaTicket
			};
			this.$axios.post('main/register-request', data).then(response=> {
				if (response.data[0]) {
					this.warnings=response.data;
					this.newCaptcha();
				}
				else {
					this.warnings=false;
					this.success=true;
				}
			});
		}
	}
}
</script>





<i18n src="../locales/RegisterRequest.json"/>
