<template>
	<div>
		<PageTitle :title="$t('register-account')"/>
		<div class="container">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<div v-if="confirm" class="my-3 alert alert-info">{{$t('confirm-register')}}</div>
		</div>
	</div>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import PageTitle from 'Main/components/PageTitle.vue';

	export default {
		name:"register",
		components: {WarningList,PageTitle},
		data: function() {
			return {
				username:'',
				password:'',
				passwordConfirm:'',
				email:'',
				warnings:[],
				confirm:false
			}
		},
		mounted: function() {
			var ticket=this.$route.params.ticket;
			this.$axios.post('main/register-confirm', {ticket:ticket}).then(response=> {
				if (response.data[0]) {
					console.log(response.data)
					this.warnings=response.data;
				}
				else {
					this.confirm=true;
				}
			});
		}
	}
</script>





<i18n src="../locales/RegisterConfirm.json"/>
