<template>
	<div class="text-page" :lang="store.lang">
		<wait-icon v-if="loading"/>
		<div v-if="warning" class="container my-5">
			<div class="alert alert-warning">{{warning}}</div>
		</div>
		<div class="text-block" ref="markdown-block-container"></div>
		<div class="container my-4 text-right" style="clear:both">
			<button class="btn btn-primary" v-on:click="$router.go(-1)">{{$t('back')}}</button>
		</div>

		<!-- Modal view image -->
		<modal-info v-if="showImageUrl" v-on:close="showImageUrl=''">
			<template v-slot:header>{{showImageText}}</template>
			<img :src="showImageUrl" style="width:100%">
		</modal-info>
	</div>
</template>

<script>
import ModalInfo from '../components/ModalInfo.vue';
import PageTitle from '../components/PageTitle.vue';
import WaitIcon from '../components/WaitIcon.vue';
import store from '../js/store.js';
import MarkdownIt from 'markdown-it';
import MarkdownItAttrs from 'markdown-it-attrs';

export default {
    name: 'markdown-page',
	components: { PageTitle, WaitIcon, ModalInfo },
	props: ['module','file','lang', 'tpl'],
	data: function() {
		return {
			warning:'',
			loading:false,
			store:store,
			showImageUrl:'',
			showImageText:''
		}
	},
	watch: {
		"store.lang": function() { this.lang = store.lang; this.updateMarkdown(); },
		"$route": 'updateMarkdown',
	},
	computed: {
		tplId() {
			if (this.$route.meta.tplId) {
				return this.$route.meta.tplId;
			} else if (this.$route.params.module) {
				return this.$route.params.module + '::' + this.$route.params.file;
			} else {
				return this.tpl;
			}
		}
	},
	mounted: function() {
		this.updateMarkdown();
	},
	methods: {
		updateMarkdown: async function() {
			this.$refs['markdown-block-container'].innerHTML="";
			this.warning='';
			this.loading=true;
			if (this.$route.meta.tplId) {
				if (this.$route.meta.lang) {
					this.lang = this.$route.meta.lang;
				}
				this.updateBasedTemplate();
				return;
			} else if (this.$route.name == 'main-text-tpl') {
				if (this.$route.params.lang) {
					this.lang = this.$route.params.lang;
				}
				this.updateBasedTemplate();
				return;
			}

			var md=new MarkdownIt();
			md.use(MarkdownItAttrs);
			var moduleName=this.module ? this.module : this.$route.params['module'];
			var fileName=this.file ? this.file: this.$route.params['file'];
			var lang=this.$route.params['lang'] || store.lang;	//use lang param if present, allows deep links to certain language
			var url='./text/'+lang+'/'+moduleName+'/'+fileName+'.md';
			//try to load markdown file
			var response;
			try { response=await this.$axios.get(url,{baseURL: '.'}); }
			catch (e) {
				this.warning=this.$t('lang-not-available');
			}
			if (response) {
				//render
				var html=md.render(response.data);
				var container=this.$refs['markdown-block-container'];
				container.innerHTML=html;
				//update html meta infos
				var h1=container.querySelector('h1');
				var title = h1 ? h1.innerHTML : "";
				document.title=title;
				var sts=document.querySelector('p.subtitle');
				var desc = sts ? sts.innerHTML : "";
				document.querySelector('meta[name="description"]').setAttribute("content", desc);
				//update view and add listeners
				this.loading=false;
				this.addListeners();
			}
			else {
				this.warning=this.$t('missing-page-info')
				this.loading=false;
			}
		},
		updateBasedTemplate: async function() {
			var tplId = 'pages::' + this.tplId;
			var lang = this.lang || store.lang;
			var baseUrl = 'main/templatesByTypeLang/' + tplId + '/';
			var url = baseUrl + lang;
			this.$axios.get(url, {params: {convert: true}}).catch((error) => {
				if (error.response && error.response.status == 404 && lang != this.$config.defaultLocale) {
					this.$axios.head(baseUrl + this.$config.defaultLocale).catch((error) => {
						this.setErrorPage('missing-page-info');
					}).then((response) => {
						this.setErrorPage('lang-not-available');
					});
				} else {
					this.setErrorPage('missing-page-info');
				}
			}).then((response) => {
				if (response) {
					//render
					var container = this.$refs['markdown-block-container'];
					container.innerHTML = response.data.content.html;
					//update html meta infos
					var h1 = container.querySelector('h1');
					var title = h1 ? h1.innerHTML : response.data.content.title;
					document.title=title;
					var sts=document.querySelector('p.subtitle');
					var desc = sts ? sts.innerHTML : "";
					document.querySelector('meta[name="description"]').setAttribute("content", desc);
					//update view and add listeners
					this.addListeners();
				}
				this.loading=false;
			});
		},
		setErrorPage: function(code) {
			this.warning=this.$t(code)
			this.loading=false;
		},
		addListeners: function() {
			var elements=document.getElementsByClassName('preview');
			for (var e of elements) {
				var src=e.src;
				if (e.nodeName=='IMG') {
					e.onclick=(ev)=> {
						this.showImageUrl=ev.srcElement.src;
						this.showImageText=ev.srcElement.alt;
					}
				}
			}
		}
	}
}
</script>

<style >
.text-page {-ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
</style>


<style src='../css/text-block.css'/>

<i18n src="../locales/TextPage.json"/>
