<!--
List, displaying the items of a list, offering different actions.
Typically used inside Index.vue of modules (abcd, pairs, etc.)

Properties:
- items: array of all item to display
- fields: array of properties which will be displayed for each item
- actions: array of available actions (start, show, edit, share, duplicate, export, delete, new, import)
- role: role necessary to perform actions import, new & duplicate
- resturl: url of rest backend api (used for delete, duplicate, import)
- restkey: key used in backend calls (may be empty, depending on api)

Rights:
- Actions edit & delete are only visible, if user is owner of item (field .owner)
- Action duplicate ist only visible, if user owns role (see properties)
-->

<template>
	<div>
		<search-box v-if="items && items.length>0" v-on:search="text=> {this.searchText=text}"/>
		<div v-if="items && items.length>0">
			<table class="table table-striped mt-2 border shadow">
				<tr class="bg-primary text-white">
					<th v-for="field of fields">{{$t(field)}}</th>
					<th v-if="actions && actions.length>0">{{$t('action')}}</th>
				</tr>
				<tr class="index-list" v-for="item in items" v-if="search(item)">
					<td v-for="field of fields">
						<span v-if="(field=='ts' || field=='created') && item[field]>0">
							{{new Date(item[field]).toLocaleDateString('de-DE', { day: 'numeric', month: 'long', year: 'numeric'})}}
						</span>
						<span v-else-if="(field=='ts' || field=='created')">–</span>
						<span v-else>{{item[field]}}</span>
					</td>
					<td v-if="actions && actions.length>0" style="white-space: nowrap;">
						<tooltip-icon  v-if="actions.includes('start')" :tip="$t('start')" src="~Main/img/start.svg" v-on:click="$emit('start',item)"/>
						<tooltip-icon  v-if="actions.includes('show')" :tip="$t('show')" src="~Main/img/show.svg" v-on:click="$emit('show',item)"/>
						<tooltip-icon  v-if="actions.includes('edit') && item.owner==store.user.login" :tip="$t('edit')"  src="~Main/img/edit.svg" v-on:click="$emit('edit',item)"/>
						<tooltip-icon  v-if="actions.includes('share') && (item.tickets || item.ticket)" :tip="$t('share')"  src="~Main/img/share.svg" v-on:click="$emit('share',item)"/>
						<tooltip-icon  v-if="actions.includes('duplicate') && hasRole" :tip="$t('duplicate')"  src="~Main/img/duplicate.svg" v-on:click="duplicate(item)"/>
						<tooltip-icon  v-if="actions.includes('export')" :tip="$t('export')"  src="~Main/img/export.svg" v-on:click="$emit('export',item)"/>
						<tooltip-icon  v-if="actions.includes('delete') && item.owner==store.user.login" :tip="$t('delete')"  src="~Main/img/delete.svg" v-on:click="itemToDelete=item"/>
					</td>
				</tr>
			</table>
		</div>
		<div v-else class="alert alert-primary mt-3">{{$t('no-item')}}</div>

		<div class="text-right" v-if="hasRole" >
			<tooltip-icon v-if="actions.includes('new')" :tip="$t('hint-new')" size="big" src="~Main/img/plus-primary.svg" v-on:click="$emit('new')"/>
			<tooltip-icon v-if="actions.includes('import')" :tip="$t('hint-import')" size="big" src="~Main/img/import-primary.svg" v-on:click="showModalImport=true"/>
		</div>

		<modal-dialog v-if="itemToDelete" v-on:accept="acceptDelete()" v-on:close="itemToDelete=null">
			<template v-slot:header>{{$t('delete-title')}}</template>
			<p class="mb-3">{{$t('delete-info',{title:itemToDelete.title ? itemToDelete.title : itemToDelete.name})}}</p>
			<warning-list :warnings="deleteWarnings"/>
		</modal-dialog>

		<modal-dialog v-if="itemToDuplicate" v-on:accept="acceptDuplicate()" v-on:close="itemToDuplicate=null">
			<template v-slot:header>{{$t('duplicate-title')}}</template>
			<p class="mb-3">{{$t('duplicate-info')}}</p>
			<input class="form-control mb-3" v-model="duplicateTitle" :class="{'is-invalid':!$v(duplicateTitle,true,$consts.REGEX_TEXT_300)}">
			<wait-icon v-if="waitDuplicate"/>
			<warning-list :warnings="duplicateWarnings"/>
		</modal-dialog>

		<modal-dialog v-if="showModalImport" v-on:close="showModalImport=false">
			<template v-slot:header>{{$t('import-title')}}</template>
			<p class="mb-3">{{$t('import-info')}}</p>
			<input class="form-control-file mr-2 mb-3" type="file" v-on:change="importFileChange">
			<wait-icon v-if="waitImport"/>
			<warning-list :warnings="importWarnings"/>
			<template v-slot:footer>
				<button class="btn btn-secondary" v-on:click="showModalImport=false">{{$t('cancel')}}</button>
				<button v-if="importFiles.length" class="btn btn-primary mr-1" v-on:click="importJson()">{{$t('import')}}</button>
			</template>
		</modal-dialog>
	</div>
</template>

<script>
import SearchBox from 'Main/components/SearchBox.vue';
import TooltipIcon from 'Main/components/TooltipIcon.vue';
import ModalDialog from 'Main/components/ModalDialog.vue';
import WarningList from 'Main/components/WarningList.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import store from 'Main/js/store.js';

export default {
	props: ['items','fields','actions','role','resturl','restkey'],
	components: {SearchBox, TooltipIcon, ModalDialog, WarningList, WaitIcon},
	data: function() {
		return {
			searchText:'',
			store:store,
			hasRole:false,
			//delete action
			itemToDelete:null,
			deleteWarnings:'',
			//duplicate action
			itemToDuplicate:null,
			duplicateWarnings:'',
			waitDuplicate:false,
			duplicateTitle:'',
			//import action
			importFiles:[],
			showModalImport:false,
			waitImport:false,
			importWarnings:''
		}
	},
	mounted: function() {
		this.hasRole=store.user && this.role && store.user.hasRole(this.role);
	},
	methods: {
		search: function (item) {
			var s=this.searchText.toLowerCase();
			for (var field of this.fields) {
				if (item[field] && item[field].toLowerCase().indexOf(s)>=0) return true;
			}
			return false;
		},
		acceptDelete: function() {
			this.$axios.delete(this.resturl+'/'+this.itemToDelete._id).then(response=> {
				if (response.data[0]) return this.deleteWarnings=response.data;
				this.itemToDelete=null;
				this.$emit('reload');
			})
		},
		duplicate: async function(item) {
			this.duplicateWarnings ='';
			var response=await this.$axios.get(this.resturl+'/'+item._id);
			var data=Object.assign({}, response.data);
			//remove unecessary information
			delete data._id;
			delete data.__v;
			delete data.owner;
			this.itemToDuplicate=Object.assign({}, data );
		},
		acceptDuplicate: function() {
			this.waitDuplicate=true;
			//set new title
			if (this.itemToDuplicate.title) this.itemToDuplicate.title=this.duplicateTitle;
			else if (this.itemToDuplicate.name) this.itemToDuplicate.name=this.duplicateTitle; //support for survey, title is name there
			//create post data
			var data={};
			if (this.restkey) data[this.restkey]=this.itemToDuplicate;	//use key if provided
			else data=this.itemToDuplicate;
			this.$axios.post(this.resturl, data).then(response=> {
				this.waitDuplicate=false;
				if (response.data[0]) this.duplicateWarnings =response.data;
				this.itemToDuplicate=null;
				this.$emit('reload');
			})
		},
		importFileChange: function(e) {
			var files=e.target.files || e.dataTransfer.files;
			this.importFiles=files;
			this.importWarnings='';
		},
		importJson: function() {
			if (!this.importFiles.length) return;
			var reader=new FileReader();
			this.waitImport=true;
			reader.onload=(e)=> {
				try {
					var json=JSON.parse(e.target.result);
					var data={};
					if (this.restkey) data[this.restkey]=json;	//use key if provided
					else data=json;
					this.$axios.post(this.resturl, data).then(response=> {
						this.waitImport=false;
						if (response.data[0]) this.importWarnings=response.data;
						this.showModalImport=false;
						this.$emit('reload');
					})
				}
				catch (e) {
					this.waitImport=false;
					this.importWarnings=[{msg:'import-only-json'}]
				}
			};
			reader.readAsText(this.importFiles[0]);
		},
	}
}
</script>

<style>
	tr.index-list {}
</style>

<i18n src="../locales/IndexList.json"/>
