<template>
    <div class="markdown-editor-wrapper form-group">
        <div class="markdown-editor-toolbar">
            <ul>
                <li @click="handleButton($event, 'bold')"><format-bold-icon /></li>
                <li @click="handleButton($event, 'italic')"><format-italic-icon /></li>
                <li @click="handleButton($event, 'underline')"><format-underline-icon /></li>
                <li @click="handleButton($event, 'strikethrough')"><format-strike-icon /></li>
                <li @click="handleButton($event, 'quote')"><format-quote-icon /></li>
                <li class="divider">|</li>
                <li @click="handleButton($event, 'h1')"><span>H1</span></li>
                <li @click="handleButton($event, 'h2')"><span>H2</span></li>
                <li @click="handleButton($event, 'h3')"><span>H3</span></li>
                <li @click="handleButton($event, 'h4')"><span>H4</span></li>
                <li class="divider">|</li>
                <li @click="handleButton($event, 'list')"><format-list-icon /></li>
                <li @click="handleButton($event, 'list-numbered')"><format-list-numbered-icon /></li>
                <li class="divider">|</li>
                <li @click="handleButton($event, 'insert-link')"><insert-link-icon /></li>
                <li @click="handleButton($event, 'insert-image')"><insert-image-icon /></li>
                <li @click="handleButton($event, 'insert-code')"><insert-code-icon /></li>
                <li class="divider">|</li>
                <li @click="toggleFullscreen($event)"><fullscreen-icon v-if="!isFullscreen" /><fullscreen-exit-icon v-if="isFullscreen" /></li>
            </ul>
        </div>
        <div class="markdown-editor-pane">
            <textarea class="form-control" :value="value" rows="15" @input="handleInput($event)" 
                v-on:change="contentChanged"></textarea>
            <div class="markdown-preview" v-html="renderedMd"></div>
        </div>
    </div>
</template>

<script>
import md from "Main/js/markdown.js";
import MarkdownEditorFunctions from 'Main/js/markdown-editor.js';

import FormatBoldIcon from 'vue-material-design-icons/FormatBold.vue';
import FormatItalicIcon from 'vue-material-design-icons/FormatItalic.vue';
import FormatUnderlineIcon from 'vue-material-design-icons/FormatUnderline.vue';
import FormatStrikeIcon from 'vue-material-design-icons/FormatStrikethroughVariant.vue';
import FormatQuoteIcon from 'vue-material-design-icons/FormatQuoteClose.vue';
import FormatListIcon from 'vue-material-design-icons/FormatListBulleted.vue';
import FormatListNumberedIcon from 'vue-material-design-icons/FormatListNumbered.vue';
import InsertLinkIcon from 'vue-material-design-icons/Link.vue'
import InsertImageIcon from 'vue-material-design-icons/ImagePlus.vue'
import InsertCodeIcon from 'vue-material-design-icons/CodeTags.vue'
import FullscreenIcon from 'vue-material-design-icons/Fullscreen.vue'
import FullscreenExitIcon from 'vue-material-design-icons/FullscreenExit.vue'

export default {
    components: {
        FormatBoldIcon,FormatItalicIcon,FormatUnderlineIcon,
        FormatListIcon, FormatListNumberedIcon, InsertLinkIcon,
        InsertImageIcon, MarkdownEditorFunctions, InsertCodeIcon,
        FormatStrikeIcon, FormatQuoteIcon, 
        FullscreenIcon, FullscreenExitIcon
    },
    name: 'markdown-editor',
    props: ['value'],
    data() {
        return {
            content: this.value,
            renderedMd: '',
            mde: undefined,
            isFullscreen: false
        }
    },
    watch: {
        value: function() {
            this.updateRender();
            this.contentChanged();
        }
    },
    methods: {
        updateRender() {
            this.renderedMd = md.renderFull(this.value);
        },
        handleInput (e) {
            this.content = e.target.value;
            this.$emit('input', this.content)
        },
        contentChanged() {
            this.$emit('modified');
        },
        toolboxActionDone(newValue) {
            this.content = newValue;
            this.$el.querySelector('textarea').focus();
            this.$emit('input', this.content)
        },
        toggleFullscreen(e) {
            var elem = this.$el.classList;
            if (this.isFullscreen) {
                elem.remove('markdown-editor-fullscreen');
                this.isFullscreen = false;
            } else {
                elem.add('markdown-editor-fullscreen');
                this.isFullscreen = true;
            }
        },
        handleButton(e, btnType) {
            if (this.mde === undefined) {
                this.mde = new MarkdownEditorFunctions.toolbox(
                    this.$el.querySelector('textarea'), 
                    this.toolboxActionDone
                );
            }
            if (!this.mde) {
                return;
            }
            this.mde.execute(btnType);
        }
    },
    mounted() {
        this.updateRender();
    }
}
</script>


