<template>
	<modal-info v-on:close="$emit('close')">
		<template v-slot:header>{{$t('settings')}}</template>
		<div class="card-body bg-white">
			<label>{{$t('design')}}</label>
			<select v-model="design" class="form-control">
				<option value='dark'>{{$t('design-dark')}}</option>
				<option value='light'>{{$t('design-light')}}</option>
			</select>
			<label class="mt-2">{{$t('language')}}</label>
			<select v-model="lang" class="form-control">
				<option v-for="lng in $consts.SUPPORTED_LANGUAGES" :value="lng">{{lng}}</option>
			</select>
		</div>
	</modal-info>
</template>

<script>
	import store from '../js/store.js'
	import UserSettings from '../js/user-settings.js'
	import ModalInfo from './ModalInfo.vue'

	export default {
		components: {ModalInfo},
		name: 'modal-settings',
		data: function () {
			return {
				design: store.design,
				lang: store.lang
			}
		},
		watch: {
			design: function () {
				store.design = this.design
				document.body.setAttribute('data-theme', store.design)
			},
			lang: function () {
				UserSettings.updateLanguage(this, this.lang)
			}
		}
	}
</script>


<i18n src="../locales/ModalSettings.json"/>
