<template>
	<nav class="navbar navbar-expand navbar-bottom navbar-dark text-right p-0 m-0">
		<div class="nav navbar-nav d-none d-md-block">
			<span class="nav-link">{{$config.author}} &copy; {{(new Date()).getFullYear()}}</span>
		</div>
		<div class="nav navbar-nav ml-auto">
			<router-link class="nav-link px-1 py-0" :to="{ name: 'main-imprint' }">{{$t('imprint')}}</router-link>
			<router-link class="nav-link px-1 py-0" :to="{ name: 'main-terms' }">{{$t('terms')}}</router-link>
			<router-link class="nav-link px-1 py-0" :to="{ name: 'main-privacy' }">{{$t('privacy')}}</router-link>
		</div>
	</nav>
</template>

<script>
export default {
  name: 'navbar-bottom',
}
</script>

<style scoped>
</style>


<i18n src="../locales/NavbarBottom.json"/>
