<template>
	<div class="input-group">
		<input class="form-control" v-model="text" type="text"  :placeholder="$t('hint-search-input')">
		<div class="input-group-append">
			<div class="input-group-text p-0">
				<tooltip-icon :tip="$t('reset')" src="../img/broom.svg" v-on:click="text=''"/>
			</div>
		</div>
	</div>
</template>

<script>
import TooltipIcon from './TooltipIcon.vue';
export default {
	name: "search-box",
	components: {TooltipIcon},
	watch: {
		text: function() {this.$emit('search',this.text);}
	},
	data: function() {
		return {
			text:'',
		}
	}
}
</script>


<i18n src="../locales/SearchBox.json"/>
