<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="saveTemplate()" acceptTxtId="save">
		<template v-slot:header>{{$t('template-editor')}}</template>
		<div class="card-body bg-white">
            <warning-list :warnings="warningListTranslated"/>
			<slot></slot>
			<form>
				<div class="form-group row">
					<label class="col-form-label">{{$t('type')}}</label>
					<select class="form-control" v-model="value.type" v-on:change="checkLoadDefault" 
						:class="{'is-invalid':!isTypeValid}">
						<option v-for="(type, index) in templateTypes" v-bind:key="index" :value="type">{{type}}</option>
					</select>
					<label class="col-form-label">{{$t('language')}}</label>
					<select class="form-control" v-model="value.language" v-on:change="checkLoadDefault" 
						:class="{'is-invalid':!$v(value.language,true,$consts.REGEX_LANGUAGE)}">
						<option v-for="(lng, index) in $consts.SUPPORTED_LANGUAGES" v-bind:key="index" :value="lng">{{lng}}</option>
					</select>
					<label class="col-form-label">{{$t('title')}}</label>
					<input class="form-control" v-model="value.title">
					<label class="col-form-label">{{$t('content')}}</label>
					<markdown-editor ref="mdeditor" v-model="value.content" v-on:modified="contentChanged"></markdown-editor>
				</div>
			</form>
		</div>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
    import WarningList from 'Main/components/WarningList.vue';
	import MarkdownEditor from 'Main/components/MarkdownEditor.vue';
	import consts from '../../consts';

	export default {
		components: {ModalDialog, WarningList, MarkdownEditor},
		name: 'template-editor',
        props: ['value'],
		data: function() {
			return {
				warningList: [],
				consts: consts,
				isLoading: true,
				templateTypes: [],
				bodyModified: false
			}
		},
		computed: {
			isTypeValid() {
				return this.templateTypes.indexOf(this.value.type) > -1
			},
			warningListTranslated() {
				return this.warningList.map(c => { c.msg = this.$t(c.msg); return c; });
			}
		},
        methods: {
			contentChanged: function() {
				// Waiting for initial content to be set?
				if (this.bodyModified === undefined) {
					this.bodyModified = false;
				} else {
					this.bodyModified = true;
				}
			},
			saveTemplate: function() {
				var baseUrl = 'main/admin/templates';
				var req = undefined;
				if (this.value._id) {
					req = this.$axios.put(baseUrl + '/' + this.value._id, this.value);
				} else {
					req = this.$axios.post(baseUrl, this.value);
				}
				req.then(response => {
					this.$emit('accept');
				}).catch(error => {
					if (error.response) {
						if (error.response.status == 400) {
							this.warningList = error.response.data;
						} else {
							this.warningList.push({msg: 'unknown-error'});
						}
					} else {
						this.warningList.push({msg: 'unknown-error'});
					}
				});
			},
			checkLoadDefault: function() {
				if (this.value.content.length <= 0 || !this.bodyModified) {
					if (this.value.language && this.value.type) {
						this.$axios.get('main/admin/templates', {params: {
							lang: this.value.language,
							type: this.value.type,
							include_default: true,
							only_default: true
						}}).then(response => {
							this.bodyModified = undefined;
							if (response.status < 400 && response.data && response.data.length > 0) {
								this.value.content = response.data[0].content;
								this.value.title = response.data[0].title;
								// Ensure, we can load again!
							} else {
								this.value.content = '';
								this.value.title = '';
							}
						});
					}
				}
			}
        },
		mounted: function() {
			this.bodyModified = false;
			this.$axios.get('main/admin/templatesAvailable').then(response=> {
				if (response.status < 400) {
					this.templateTypes = response.data;
					this.isLoading = false;
				}
			});
		}
	}
</script>


<i18n src="../locales/Templates.json"/>