<template>
	<span class="mytooltip">
		<img v-if="!size" class="smallIcon" :class="{invert:invert}" :src="src" v-on:click="$emit('click')" >
		<img v-else-if="size=='medium'" class="mediumIcon" :src="src" v-on:click="$emit('click')" >
		<img v-else-if="size=='tiny'" class="tinyIcon" :src="src" v-on:click="$emit('click')" >
		<img v-else class="bigIcon" :src="src" v-on:click="$emit('click')" >

		<!--only show on medium or larger screens-->
  		<span class="mytooltiptext d-none d-md-inline">{{tip}}</span>
	</span>
</template>

<script>
	export default {
		name: 'tooltip-icon',
		props: [ 'tip','src','size','invert']
	}
</script>

<style scoped src="../css/tooltip.css"/>
